@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/poppinsmedium.woff2") format("woff2"),
       url("../fonts/poppinsmedium.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/poppinsbold.woff2") format("woff2"),
       url("../fonts/poppinsbold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER STYLES BEGIN */

